/* SearchBar.css */
.search-container {
  width: 100%;
  height: 100%;
  max-width: 656px; /* Максимальная ширина для большего экрана */
  margin: 0 auto;
  margin-top: 20px;
  display: flex;  /* Используем flexbox для центровки */
  justify-content: center; /* Центровка по горизонтали */
}

.search-bar {
  display: flex;
  border: 1px solid #0F2837;
  border-radius: 30px;
  overflow: hidden;
  background: white;
  width: 100%;
  height: 60px;
}

.category-dropdown {
  position: relative;
  min-width: 235px;
  height: 60px;
  border-right: 1px solid rgba(15, 40, 55, 0.19); /* Прозрачность 19% */
}

.category-dropdown select {
  width: 100%;
  height: 60px;
  padding: 12px 35px 12px 15px;
  border: none;
  background: transparent;
  appearance: none;
  font-family: 'Effra Trial', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #0F2837;
  cursor: pointer;
}

.category-dropdown select:focus {
  outline: none;
  border: none;
}


.dropdown-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-input input {
  flex-grow: 1;
  padding: 12px 0;
  border: none;
  outline: none;
  font-family: 'Effra Trial', sans-serif;
  font-size: 16px;
  color: #6F7E87;
  font-weight: 600;
}

.search-input input::placeholder {
  font-family: 'Effra Trial', sans-serif;
  font-size: 16px;
  color: #6F7E87;
  font-weight: 600;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 5px;
}

/* Media query for tablets and smaller devices */
@media screen and (max-width: 1024px) {
  .search-container {
    max-width: 100%;
    margin-top: 15px;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .search-container {
    max-width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .category-dropdown {
    min-width: 150px;
  }
}
